includes:
	- vendor/hanaboso/php-check-utils/phpstan.neon
parameters:
	ignoreErrors:
		-
			message: '#Call to method .* of internal class Doctrine\\ODM\\MongoDB\\Aggregation\\Stage\\Operator#'
			path:  tests/Filter/AggregationDocumentFilter.php
		-
			message: '#Method .* never returns null so it can be removed from the return type#'
			path:  tests/Filter/DocumentFilter.php
	ergebnis:
		classesNotRequiredToBeAbstractOrFinal:
			- Hanaboso\MongoDataGrid\Result\ResultData
			- Hanaboso\MongoDataGrid\GridRequestDto
		classesAllowedToBeExtended:
			- MongoDataGridTests\TestCaseAbstract
			- Hanaboso\MongoDataGrid\GridFilterAbstract
			- Hanaboso\MongoDataGrid\GridAggregationFilterAbstract
